.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #152331 0%, #000000 100%);
  }
  
  .form_login {
    display: flex;
    flex-direction: column;
    max-height: 460px;
    width: 330px;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
  }
  
  .logo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo_login img {
    max-height: 65px;
    width: auto;
  }
  
  .logo_login h4 {
      font-size: 20px;
      color: #4f575f;
  }
  
  .form_inputs_login {
    display: flex;
    width: 100%;
    margin: 10px 0;
    flex-direction: column;
  }
  
  .form_button_login {
    display: flex;
    height: 45px;
    margin-top: 30px;
  }
  
  .form_button_login button {
      width: 100%;
      background-color: rgb(44, 88, 230);
      border: none;
      cursor: pointer;
      font-size: 15px;
      color: #fff;
  }
  
  .container_login_input {
    padding: 0 2px;
    background-color: #fff;
    border-bottom: 1px solid #152331;
    margin-bottom: 20px;
  }
  
  .container_login_input input {
    width: 100%;
    background-color: transparent;
  }